html {
  background-color: #fff;
}
body {
  width: 100%;
  border: 1px solid #000;
  font-family: roboto;
  padding: 0 1.5%;
  background-color: #0b192f;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #162b4d;
  height: 200px;
  margin-bottom: 20px;
}
header nav a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
header nav {
  display: none;
}
header h1 {
  font-weight: 200;
  font-size: 45px;
  color: #fff;
  margin: 0;
}
header h1 span {
  color: #b71757;
}

header a {
  text-decoration: none;
  color: #fff;
}
header a:hover {
  color: #b8b8b8;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
}
.content article {
  display: grid;
  grid-template-rows: 1fr;
}
article img {
  width: 100%;
  margin-bottom: 25px;
}
article img:hover {
  opacity: 0.5;
}
article .post-text h2 {
  color: #fff;
  font-weight: 100;
  font-size: 50px;
  margin: 0;
  line-height: 1;
}
article p {
  line-height: 1.7;
}
.post-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.post-text:hover {
  opacity: 0.5;
}
.post-text .time {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.post-text .time time {
  display: block;
  font-weight: 100;
  font-size: 50px;
}
.post-text .time time:nth-last-child(1) {
  font-size: 30px;
}

.post-text {
  margin: 0 6% 6%;
}

.post-1,
.post-2,
.post-3,
.post-4,
.post-5 {
  color: #fff;
}

.post-1 {
  background: #b71757;
}
.post-2 {
  background: #0d7e71;
}
.post-3 {
  background: #b1660e;
}
.post-4 {
  background: #d12767;
}
.content .post-5 {
  background: #2d95bb;
  display: grid;
  grid-template-rows: 1fr;
}
.post-5 .post-text {
  margin: 6%;
}
aside {
  display: grid;
  grid-row-gap: 20px;
}
aside article {
  background-color: #fff;
}

.aside-text {
  padding: 0 6% 3%;
}
.aside-text h2 {
  color: #000;
  font-weight: 300;
  font-size: 28px;
  margin-top: 0;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #162b4d;
  margin-top: 50px;
  padding: 75px;
  color: rgb(100, 109, 131);
  text-align: center;
}
footer p {
  margin: 0;
}
footer p:nth-child(2) {
  width: 135px;
}

@media (min-width: 481px) and (max-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-gap: 20px;
  }
  header,
  footer {
    grid-column: 1/3;
  }
  header {
    margin-bottom: 0;
  }
  footer {
    margin-top: 0;
  }
  .content {
    grid-column: 1/2;
  }
  aside {
    grid-column: 2/3;
    align-content: flex-start;
  }
}
@media (min-width: 769px) and (max-width: 1400px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    padding: 0 30px;
  }
  header #burger {
    display: none;
  }
  header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 45%;
    height: 100%;
  }
  header nav a {
    height: 100%;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  header nav a:hover {
    background-color: #909090;
  }
  header nav a:active {
    background-color: #fff;
    color: #909090;
  }

  body {
    display: grid;
    grid-template-columns: 6fr 2fr;
    grid-gap: 20px;
  }
  header,
  footer {
    grid-column: 1 / span 4;
  }
  aside {
    align-content: flex-start;
  }
  .content article {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .content article:nth-child(even) {
    direction: rtl;
  }
  article img {
    margin-bottom: 0;
  }
  .post-text {
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 4% 5% 0 5%;
    align-items: center;
  }
  .post-text h2 {
    align-self: flex-end;
    grid-column: 1;
  }
  .post-text p {
    align-self: flex-start;
    grid-column: 1;
  }

  .post-text .time {
    grid-column: 2;
    margin-top: 0;
    grid-row: 1/3;
    align-self: flex-start;
  }
  .content .post-5 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .content .post-5 .time {
    grid-column: 2;
    grid-row: 1/3;
    justify-self: end;
  }
  .content .post-5 .post-text {
    margin: 4%;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 35px;
    text-align: left;
  }
}
