$nightMod: true;

$fontDefault: 'Source Sans Pro', sans-serif;
$fontLight: 'Hind', sans-serif;
$fontNight: 'Fresca', sans-serif;

$bgImg: url(../img/m-h-night.jpg) center/cover no-repeat;
$bgBody:#21232e;
$bgCardFooter: #3b3f50;
$contentWidth: 1535px;
$colorBtn: #e3ac00;
$colorUndLine: #ff4e33;
$colorElemText: #c0c3ce;
$colorBody: #fff;
$colorGradient: #98344e;