$nightMod: false;

$fontDefault: 'Source Sans Pro', sans-serif;
$fontLight: 'Hind', sans-serif;
$fontNight: 'Fresca', sans-serif;

$bgImg: url(../img/m-h-day.jpg) center/cover no-repeat;
$bgBody:#fff;
$bgCardFooter: #21232e;
$contentWidth: 1535px;
$colorBtn: #699900;
$colorUndLine: #14a0c7;
$colorElemText: #c0c3ce;
$colorBody: #2c2f3c;
$colorGradient: #2d5bd9;